#include <winver.h>

#define IDI_LINGNEST_ICON 101
IDI_LINGNEST_ICON ICON DISCARDABLE "icons\\lingnest.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION LINGNEST_VERSION_MAJOR,LINGNEST_VERSION_MINOR,LINGNEST_VERSION_PATCH,0
 PRODUCTVERSION LINGNEST_VERSION_MAJOR,LINGNEST_VERSION_MINOR,LINGNEST_VERSION_PATCH,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "LingNest Project\0"
            VALUE "FileDescription", "LingNest AI Desktop Pet\0"
            VALUE "FileVersion", LINGNEST_VERSION "\0"
            VALUE "InternalName", "LingNest\0"
            VALUE "LegalCopyright", "Copyright (C) 2026 LingNest contributors\0"
            VALUE "OriginalFilename", "LingNest.exe\0"
            VALUE "ProductName", "LingNest\0"
            VALUE "ProductVersion", LINGNEST_VERSION "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
